apiVersion: v1
kind: Secret
metadata:
  name: mlflow-secret
  namespace: mlflow
type: Opaque
stringData:
  POSTGRES_PASSWORD: <YOUR_POSTGRES_PASSWORD>
  AWS_ACCESS_KEY_ID: <YOUR_MINIO_ACCESS_KEY>
  AWS_SECRET_ACCESS_KEY: <YOUR_MINIO_SECRET_KEY>
